.boanoite {
    color: chocolate;
}
.bomdia {
    color: chocolate;
}
.interna  {
    color: chocolate;  
}
.externa {
    color: chocolate   ;
    font-family: monospace;
    font-size: 60px;
}